{% include 'HautDePage.html.twig' %}
{% include 'Menu.html.twig' %}
{% block body %}
    <h1>Animaux de l'habitat {{ habitat.getHabitatNom() }}</h1>
    <div class="animals">
        {% for animalData in animalsWithLikes %}
            <div class="animal">
                <h2>{{ animalData.animal.getName() }}</h2>
                <p>Race: {{ animalData.animal.getRace() }}</p>
                {% if animalData.animal.getNourritureType() is not empty %}
                    <p>Nourriture favorite: {{ animalData.animal.getNourritureType() }}</p>
                {% endif %}
                <p>Date du dernier passage: {{ animalData.animal.getDatePassage() ? animalData.animal.getDatePassage()|date('d/m/Y') }}</p>
                <p>Etat de l'animal: {{ animalData.animal.getEtatAnimal() }}</p>
                <p>Commentaire sur l'animal: {{ animalData.animal.getDetailsCommentaire()| raw }}</p>

                <img src="{{ asset('/uploads/images/Animal/' ~ animalData.animal.getImage()) }}" alt="{{ animalData.animal.getName() }}">

                <form action="{{ path('animal_like', {'id': animalData.animal.getId()}) }}" method="post">
                    <button type="submit">Like</button>
                </form>
                <p>Likes: {{ animalData.likeCount }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% include 'BasDePage.html.twig' %}
