<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Commun Style-->
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/CommunStyle/communStyle.css') }}">
    
    <!--Web Style-->
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/WebStyle/accueilWeb.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/WebStyle/connexionWeb.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/WebStyle/formulaireWeb.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/WebStyle/habitatWeb.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/WebStyle/serviceWeb.css') }}"/>

    <!--MOBILE First-->
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/MobileStyle/accueilMobile.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/MobileStyle/connexionMobile.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/MobileStyle/formulaireMobile.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/MobileStyle/habitatMobile.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/MobileStyle/serviceMobile.css') }}"/>

    <!--Style Tablette -->
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/TabletteStyle/accueilTab.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/TabletteStyle/connexionTab.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/TabletteStyle/formulaireTab.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/TabletteStyle/habitatTab.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/TabletteStyle/serviceTab.css') }}"/>

    <title>ZooArcadia</title>
</head>
<body>
