<div class="banderolePub element-a-cacher">Offre promotionnelle : 1 place adulte acheté = 1 place enfant offerte* ! </div>
<div class="menuTitreMobile">
    <h1></h1>
    <button class="menu-btn">Menu</button>
    <div class="nav-container">
        <nav class="nav-menu">
            <a href="{{ path('app_accueil') }}">Accueil</a>
            <a href="{{ path('app_service') }}">Services</a>
            <a href="{{ path('app_habitat') }}">Les habitats</a>
            <a href="{{ path('app_formulaire') }}">Contact</a>
            <a href="{{ path('app_connexion') }}">Connexion</a>
        </nav>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var menuBtn = document.querySelector('.menu-btn');
        var navMenu = document.querySelector('.nav-menu');

        menuBtn.addEventListener('click', function () {
            navMenu.classList.toggle('active');
        });
    });
</script>
